body, html {
    background-color: rgb(44, 44, 102);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2 ease;
    box-shadow: 1px 1px 50px rgba(239, 238, 238, 0.501);
}

#btn:hover{
    transform: scale(1.05);
    background-color: #ffa203;
}